<h1 class="display-6">Student Details</h1>
<div class="field form-group">
  <label class="form-label">Id:</label>
  <%= student.id %>
</div>

<div class="field form-group">
  <label class="form-label">Name:</label>
  <%= student.name %>
</div>

<div class="field form-group">
  <label class="form-label">Description:</label>
  <%= student.description %>
</div>

<div class="field form-group">
  <label class="form-label">Grade:</label>
  <%= student.grade %>
</div>

<div class="field form-group">
  <label class="form-label">Remarks:</label>
  <%= student.remarks %>
</div>
